<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <section id="headerArea">

        </section>
        <!-- <section class="logo-menu-icon">
            <div class="header-logo"><a href="/"><img id="logoimg" src="/resources/images/common/Logo.png" /></a></div>
            <div class="header-menu">
                <ul>
                    <li><a class="header-a" id="startPetitions" href="/writePetition">청원하기</a></li>
                    <li><a class="header-a" id="myPetitions" href="/myPetitions/myPetitions">나의청원</a></li>
                    <li><a class="header-a" id="browse" href="/browse/browseSearch/popular">둘러보기</a></li>
                    <li><a class="header-a" id="Help" href="/clientCenter/FAQ">고객센터</a></li>
                </ul>
            </div>
            <div class="header-icon">
                <a class="header-a" href="/search/searchPetition"><i
                        class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
                <%-- <i class="fa-sharp fa-solid fa-user"></i>
                    <i class="fa-sharp fa-solid fa-bell"></i> --%>
                    <a class="header-a" href="/user/login" id="loginBtn">Log in</a>
            </div>
            <div class="header-icon">
                <a class="header-a" href="/search/searchPetition"><i
                        class="fa-sharp fa-solid fa-magnifying-glass"></i></a>
                <label for="userMenuToggle">

                    <img class="user-image" src="${loginUser.userImage}" />
                    <i class="fa-sharp fa-solid fa-user header-a"></i>

                </label>
                <input type="checkbox" id="userMenuToggle">
                <div class="user-menu">
                    <span>${loginUser.userNickname} 님</span>
                    <span>${loginUser.userEmail}</span>
                    <a class="header-a" href="/myPetitions/myPetitions">나의 청원</a>
                    <a class="header-a" href="/myPage">마이페이지</a>
                    <a class="header-a" href="/user/logout">로그아웃</a>
                </div>
                <label for="alarmToggle">
                    <i class="fa-sharp fa-solid fa-bell header-a"></i>
                </label>
                <input type="checkbox" id="alarmToggle">
            </div>
        </section> -->
    </header>

</body>

</html>