@charset "UTF-8";
#game-canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#reset-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #428bca;
    color: white;
    border: none;
    cursor: pointer;
}

.white-stone {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.black-stone {
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
}

#reset-btn:hover {
    background-color: #3276b1;
}

.stone {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    transition: transform 0.3s;
    transform: scale(0.8);
}

.stone:hover {
    transform: scale(1.1);
}

.stone.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}